# Ignore python compiled files
*.pyc

# Ignore .vlc directory which stores VLC settings
.vlc/

# Ignore __pycache__ directories, they are usually not needed in version control
__pycache__/

# Ignore the venv directory if you're using virtual environments
venv/
.venv/

# Ignore any files that were created by your IDE or text editor
*.idea/
vscode/
.vscode/

# Ignore logs and temp files
logs/
temp/

# Ignore Python environment variables
ENV_VARIABLES


# Ignore the file
watched_videos.txt
